body {
    font-family: Arial;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: flex;
      background-color:#eff2e4 ;
  }
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #000000;
  }
  
  .navbar-left {
      display: flex;
      align-items: center;
  }
  .logo {
    text-decoration: none; /* Remove sublinhado padrão */
    position: relative; /* Necessário para posicionar o ::after */
    color: #eff2e4; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    display: flex; /* Garante alinhamento horizontal do texto e do ícone */
    align-items: center; /* Centraliza verticalmente o texto e o ícone */
  }
  
  .logo img {
    margin-left: 10px; /* Espaço entre o texto e o ícone */
    height: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  }
  
  .logo::after {
    content: ""; /* Elemento para a linha */
    position: absolute;
    left: 0;
    bottom: 0; /* Linha alinhada na base do texto */
    width: 0;
    height: 2px; /* Altura da linha */
    background-color: #8ba96e; /* Cor da linha */
    transition: width 0.3s ease; /* Transição suave */
  }
  
  .logo:hover::after {
    width: 100%; /* Linha se expande em hover */
  }
  .logo img {
    max-width: 100px;  /* Limita a largura máxima da imagem */
    max-height: 40px;  /* Limita a altura máxima da imagem */
    width: auto;  /* Ajusta a largura automaticamente */
    height: auto;  /* Ajusta a altura automaticamente */
  }
  
  .nav-items {
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .nav-item {
    position: center;
    display: inline-block; /* Garante alinhamento correto */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-item a {
    text-decoration: none; /* Remove sublinhado padrão */
    position: relative;
    color: #eff2e4; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    display: flex; /* Garante alinhamento do texto com ícone */
    align-items: center;
  }
  
  .nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Linha alinhada na base do texto */
    width: 0;
    height: 2px;
    background-color: #8ba96e; /* Cor da linha */
    transition: width 0.3s ease; /* Transição suave da linha */
  }
  
  .nav-item a:hover::after {
    width: 100%; /* Expande a linha ao passar o mouse */
  }
  
  .nav-item i {
    margin-left: 5px; /* Espaçamento entre o texto e o ícone */
    opacity: 0; /* Ícone invisível inicialmente */
    transform: translateX(-10px); /* Move levemente o ícone para a esquerda */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
  }
  
  .nav-item a:hover i {
    opacity: 1; /* Exibe o ícone */
    transform: translateX(0); /* Move o ícone para sua posição original */
    color: #8ba96e;
  }
  
  .nav-item i {
      margin-right: 5px;
  }
  
  .navbar-right {
      display: flex;
      align-items: center;
  }
  
  .right-items {
      display: flex;
      align-items: center;
      color: white;
     font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Botões da barra de navegação */
  .upgrade-button, .login-button, .signin-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px; /* Espaçamento interno maior para melhor usabilidade */
    color: #eff2e4; /* Cor do texto */
    font-weight: bold; /* Melhor visibilidade */
    border-radius: 5px; /* Borda arredondada */
    transition: width 0.3s ease; /* Transição suave da linha /* Suavidade ao interagir */
  }
  
  .upgrade-button:hover,
  .login-button:hover,
  .signin-button:hover {
    color: #fff; /* Contraste */
  }
  
  /* Linha animada nos links */
  .right-items a {
    position: relative;
    text-decoration: none;
    color: inherit; /* Herda a cor definida no botão */
  }
  
  .right-items a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Linha alinhada na base do texto */
    width: 0;
    height: 2px;
    background-color: #8ba96e; /* Cor da linha */
    transition: width 0.3s ease; /* Transição suave da linha */
  }
  
  .right-items a:hover::after {
    width: 100%; /* Expande a linha ao passar o mouse */
  }
  
  .avatar {
      padding: 5px;
      border-radius: 50%;
      margin-left: 10px;
  }
  .avatar i{
    color: white;
  }
  .avatar button,a{
  background-color: transparent;
  border: transparent;
  text-align: center;
  }
  
  .icon-large {
      font-size: 2rem; /* Aumente o tamanho conforme necessário */
      color: #000; /* Altere a cor se desejar */
  }
  .dropdown-menu {
    display: none; /* Inicialmente escondido */
    position: absolute; /* Posiciona o menu em relação ao seu elemento pai */
    background-color: white; /* Cor de fundo do menu */
    border: 3px solid #ccc; /* Borda para o menu */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    list-style-type: none; /* Remove os marcadores da lista */
    right: 3px;
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    z-index: 1000; /* Garante que o menu apareça acima de outros elementos */
  }
  
  .dropdown-menu li {
    padding: 10px; /* Espaçamento interno dos itens do menu */
  }
  
  .dropdown-menu li a {
    text-decoration: none; /* Remove a linha embaixo */
    color: #000; /* Cor do texto */
    display: block; /* Faz o link ocupar toda a área do item */
  }
  
  .dropdown-menu li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  }
  #user-icon{
  cursor: pointer;
  }
  

.title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.emissao {
    position: relative; /* Permite o posicionamento absoluto dentro */
    width: 100%;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Garante que os elementos dentro da div não saiam da borda */
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.emissao:hover {
    transform: translateY(-10px); /* Eleva a caixa ao passar o mouse */
}

.data-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para o fundo do botão */
}

.data-button:hover {
    background-color: #0056b3; /* Cor do fundo ao passar o mouse no botão */
}

.acessar-texto {
    display: none; /* Começa invisível */
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #000000;
    transition: transform 0.3s ease; /* Transição para a subida do texto */
}

.emissao:hover .acessar-texto {
    display: block; /* Mostra o texto ao passar o mouse na caixa */
    font-weight: bold;
    transform: translateY(-10px); /* Move o texto para cima ao passar o mouse */
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
