<ion-header id="hd">
  <ion-toolbar>
   Login
  </ion-toolbar>
</ion-header>
<ion-content id="novoapp">
  <p id="text-top">Novo no app? <a id="linklog" href="#">Cadastre-se!</a></p>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input class="input" placeholder="Digite o Seu Login" labelPlacement="stacked" ></ion-input>
  </ion-item>
  <ion-item >
    <ion-label>Senha</ion-label><br>
    <ion-input color="primary" placeholder="Digite a Sua Senha" type="password" labelPlacement="stacked"></ion-input>
  </ion-item>


  <a id="linkpass" href="#">Esqueceu a Senha?</a><br>
  <ion-button>Entrar</ion-button>
<br>
<h3>ou</h3>
<br>
<ion-button id="loginother"><ion-icon id="icon" name="logo-facebook"></ion-icon>   Entrar com o Facebook</ion-button>
<br>
<ion-button id="loginother"><ion-icon id="icon" name="logo-google"></ion-icon>   Entrar com o Google</ion-button>
</ion-content>

